<section ng-controller="ArticlesController" ng-init="find()">
  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">My Web Development Blog</h1>
      <p class="lead blog-description">Random thoughts inspired by web development technologies from a geek's persperctive.</p>
    </div>

    <div class="row">
      <div class="col-sm-8 blog-main">
        <div ng-repeat="article in articles" class="blog-post">
          <h2 class="blog-post-title" ng-bind="article.title"></h2>
          <p class="blog-post-meta">
            Posted at
            <span ng-bind="article.publishDate | date:'mediumDate'"></span>
          </p>
          <p ng-bind-html="article.body"></p>
        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>More coming soon ...</p>
        </div>
        <div class="sidebar-module">
          <h4>Archives</h4>
          <p>More coming soon ...</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="blog-footer">
    <p>&copy; 2016 Wei Shuai</p>
    <p>
      <a href="#">Back to top</a>
    </p>
  </footer>
</section>
