<section ng-controller="ArticlesController" ng-init="find()" class="container">
  <div class="page-header">
    <h1>Articles</h1>
  </div>
  <div class="list-group">
    <div ng-repeat="article in articles" class="list-group-item">
      <button class="pull-right btn btn-danger" ng-click="remove(article)">X</button>
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="article.publishDate | date:'mediumDate'"></span>
        by
        <span ng-bind="article.user.displayName"></span>
      </small>
      <a ui-sref="articles.edit({articleId: article._id})">
        <h2 class="list-group-item-heading" ng-bind="article.title"></h2>
      </a>
      <strong ng-bind="article.abstract"></strong>
      <p class="list-group-item-text" ng-bind-html="article.body"></p>
    </div>
  </div>
</section>
