<section ng-controller="ArticlesController">
  <div class="page-header">
    <h1>New Article</h1>
  </div>
  <div class="col-md-12">
    <form name="articleForm" class="form-horizontal" ng-submit="create(articleForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input type="text" name="title" ng-model="title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="articleForm.title.$error" role="alert">
            <p class="help-block error-text" mg-message="required">Article title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea ui-tinymce="tinymceOptions" name="content" ng-model="content" id="content" class="form-control" cols="30" rows="12" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="checkbox" name="published" ng-model="published" id="published" text="Published?">
          <label for="published">Published?</label>
        </div>
        <div class="form-group">
          <label for="publishDate">Publish Date</label>
          <input id="publshDate" type="text" class="form-control" uib-datepicker-popup ng-model="publishDate" is-open="popupDatePicker.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
